


[class^=row] {
    border: 2px dashed red;
}

[class^=col] {
    border: 2px dashed black;

}


/* generics */

/* custom colors */
.my-blue-bg {
    background-color: #2C3E50;
}

.my-start-bg {
    background-color: #1ABC9C;
}

.my-blue {
    color: #2C3E50;
}

img {
    max-width: 100%;
}

.ruler {
    width: 15%;
    height: 3px;
    border-radius: 20px;
}

.ruler.ruler-whi {
    background-color: #fff;
}

/* bottone download sezione about */

#about .btn { 
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1ABC9C;
}

#contact ::placeholder {
    color: #2C3E50;
}

#contact .btn:hover {
    --bs-btn-hover-bg: #1ABC9C;
}