


[class^=row] {
    border: 2px dashed red;
}

[class^=col] {
    border: 2px dashed black;

}


/* generics */


.main-content {
    height: 500px;
}

.form {
    height: 350px;
    background-color: blue;
}

.my-blue-bg {
    background-color: #2C3E50;
}
img {
    max-width: 100%;
}