
[class^=container] {
    border: 2px dashed rgb(21, 163, 85);
}

[class^=row] {
    border: 2px dashed red;
}

[class^=col] {
    border: 2px dashed black;
    background-color: bisque;
}


/* generics */

header {
    height: 100px;
}

.main-content {
    height: 500px;
}

